<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="slide" content="Content of slide">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
    <div id="slide-info"> whats up</div>
    <h1> Slide Title </h1>
    <p> Content 1 </p>
    <p> Content 2 </p>
    <p> Content 3 </p>
</body>

</html>